
.site-header{
    padding: 48px 0 120px;
}

.header{
    @include display ($items: start);
}

.header__logo-inner-wrap{
    @include display($space: start);
    margin-bottom: 48px;
}

.header__top-text-wrapper{
    width: 227px;
    margin-left: 64px;
}

.header__top-text{
    @include textStyle ($lineHeight: 20px);
}

.navbar__list{
    @include display ($space: start);
    gap: 48px;
}

.navbar__link{
    @include textStyle ($color: #000, $fontSize : 16px, $fontWeight: 700);
    transition: all 0.4s linear;
    letter-spacing: 0.48px;
    &:hover {
        @include textStyle($blueColor, $fontSize : 16px, $fontWeight: 700);
    }
}

.contact{
    @include display ($items: center); 
    gap: 36px; 
}

.contact__phone{
    @include textStyle ($fontSize: 16px, $fontWeight: 700, $lineHeight: 18px);
    transition: all 0.4s linear;
    &:hover{
        color: $blueColor;
    }
}

.contact__sign-in{
    @include button ();
    transition: all 0.4s linear;
    &:hover{
        opacity: 0.8;
    }
}

.contact__mobile-btn{
    @include display ($items: center, $space: center);
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    border-radius: 7px;
    background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);
}

.contact__hamburger-btn{
    @include display ($items: center, $space: center);
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    border-radius: 7px;
    background-color: #DEE6EF;
}


@media only screen and (max-width: 950px){
    .navbar__list{
        gap: 30px;
    }
}

@media only screen and (max-width: 845px){
    .navbar{
        display: none;
    }

    .header__logo-inner-wrap{
        margin-bottom: 0;
    }

    .header__top-text-wrapper{
        display: none;
    }

    .contact__hamburger-btn{
        display: block;
    }
}

@media only screen and (max-width: 680px){
    .site-header{
        padding: 22px 0 48px;
    }

    .contact{
        gap: 8px;
    }

    .contact__phone, .contact__sign-in{
        display: none;
    }

    .contact__mobile-btn{
        display: block;
    }

    .header__logo-img{
        width: 120px;
        height: 40px;
    }
}